<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="employee" class="com.aspectOrientedProgramming.aspectOrientedProgrammingExample">
		<property name="name" value="Souro" />
		<property name="id" value="98072" />
	</bean>
	
	<bean id="beforeAdviceBean" class="com.aspectOrientedProgramming.beforeAdviceExample" />
 
	<bean id="employeeProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
 
		<property name="target" ref="employee" />
 
		<property name="interceptorNames">
			<list>
				<value>beforeAdviceBean</value>
			</list>
		</property>
	</bean>
 
</beans>